body{
    font-family: Courier New, Courier, monospace;
}

.avatar{
    width: 150px;
    height: 190px;
    border-radius: 10%;
    border: 5px solid #dda15e;
}

.card{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    background-color: #fefae0;
    border-bottom: 6px solid #dda15e;
    border-right: 8px solid #dda15e;
}

.card-details{
    text-align: center;
    margin-top: 15px;
}




